@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap,https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap, https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap'); 


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: black; /*tag que muda a cor do fundo*/
    color: #F6F6F6;
    ;
}
.destaque-titulo { /*tag do tipo classe*/
    color: #22D4FD; 
}
.apresentacao {
    margin: 10% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.apresentacao__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.apresentacao__paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.apresentacao__links {
    display: flex;
    justify-content: space-between;

}

.apresentacao__links__botoes {
    background-color: #22D4FD;
    width: 215px;
    text-align: center;
    border-radius: 26px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    gap: 5px;

}